<div class="header">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-sm-6">
                <img src="../assets/img/avatar.JPG" title="Avatar" alt="My Avatar">
                <h4 style="font-size:22px">{{ site.author.name }}</h4>
                <p>{{ site.author.title }}</p>
                <p class="muted">{{ site.author.address }}</p>
                <p><i class="fa fa-envelope-o fa-fw"></i> {{ site.author.email }} </p>
                <p><i class="fa fa-github fa-fw"></i><a href="https://github.com/{{ site.author.github }}" target="_blank">  @{{ site.author.github }} </a></p>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-6 visible-md-block visible-lg-block visible-sm-block">
                <p style="font-size:20px">About</p>
                <p style="font-size:16px"> I am a first year MLT(<a href="https://www.lti.cs.cmu.edu/learn"><u>Master of Language Technology</u></a>) student at <a href="http://lti.cs.cmu.edu/"><u>Language Technology Institute</u></a>, Carnegie Mellon University. I am working with Professor <a href="http://www.cs.cmu.edu/~callan/"><u>Jamie Callan</u></a>. My research interests focus on Information Retrieval and Web Mining. For further information about my research, you can click <a href="../research.html"><u>here</u></a> or download my CV.<p>
            </div>
            <div class="col-sm-4 visible-md-block visible-lg-block">
                <a href="../assets/Resume.pdf" target="_blank" class="btn btn-dark"><i class="icon-file icon-white"></i> Download CV</a>
            </div>
        </div>
    </div>
</div>
